<?xml version='1.0' encoding='utf-8'?>
<widget id="com.RunToLive" version="1.0.0" xmlns="http://www.w3.org/ns/widgets" xmlns:gap="http://phonegap.com/ns/1.0">
    <name>RunToLive</name>
    <description>
    </description>
    <author email="support@phonegap.com" href="http://runtolive.info">
        RTL Team
    </author>
    <content src="index.html" />
  <access origin="*" />
  <allow-navigation href="*" />
  <plugin name="de.appplant.cordova.plugin.local-notification" source="npm"/>
  <plugin name="phonegap-plugin-push" source="npm" />
  <plugin name="cordova-plugin-geolocation" source="npm" />
  <plugin name="cordova-plugin-whitelist" source="npm" />
  <plugin name="de.appplant.cordova.plugin.local-notification" source="npm"/>
  <plugin name="cordova-plugin-camera" source="npm"/>
</widget>
