<div class="row">
    <div class="col-xs-8">
        <ul class="menu">
            <li class="item">
                <a class="link">
                    Contacts
                    <span class="border"></span>
                </a>
            </li>
            <li class="item">
                <a class="link">
                  Services
                    <span class="border"></span>
                </a>
            </li>
            <li class="item">
                <a class="link">
                    Settings
                    <span class="border"></span>
                </a>
            </li>
            <li class="item">
                <a class="link">
                    Contact as
                    <span class="border"></span>
                </a>
            </li>
        </ul>
    </div>
</div>